
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Welcome to Healthy City.</h3><br />
<h4>Please follow this @Html.ActionLink("link", "Authorize") to subsribe our services.</h4>



