
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.RouteLink("View current Subscribers", new { controller = "Fitbit", action = "viewUsers" })</li>
    <li>@Html.RouteLink("Add new Subscriber", new { controller = "Fitbit", action = "Subscribe" })</li>
</ul>



